Acme_Generics_Device/Acme_Generics_Device/App_WebReferences/CostCenter_Consumption/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ws_Reservation_Move311Insert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strUserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strCurrentDate_yyyy_MM_dd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strMatCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strPlant" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strStorageLoc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strMovementType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strReceivingStorLoc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strCostCenter" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strReason" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strItemText" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strBatchNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DQty" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strUOM" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strFinalIndc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strItemNoOfReservation" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strNumberofReservation" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strCleaningSop" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strEqquip" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ws_Reservation_Move311InsertResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ws_Reservation_Move311InsertResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ws_Reservation_Move311InsertSoapIn">
    <wsdl:part name="parameters" element="tns:ws_Reservation_Move311Insert" />
  </wsdl:message>
  <wsdl:message name="ws_Reservation_Move311InsertSoapOut">
    <wsdl:part name="parameters" element="tns:ws_Reservation_Move311InsertResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="ws_Reservation_Move311Insert">
      <wsdl:input message="tns:ws_Reservation_Move311InsertSoapIn" />
      <wsdl:output message="tns:ws_Reservation_Move311InsertSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ws_Reservation_Move311Insert">
      <soap:operation soapAction="http://tempuri.org/ws_Reservation_Move311Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ws_Reservation_Move311Insert">
      <soap12:operation soapAction="http://tempuri.org/ws_Reservation_Move311Insert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost:32457/RESERVATION_TYPE201/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost:32457/RESERVATION_TYPE201/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>