Acme_Generics/Acme_Generics/App_WebReferences/Recipe_Service/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetReciepeMaster">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DV" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MC" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PC" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AV" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReciepeMasterResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetReciepeMasterSoapIn">
    <wsdl:part name="parameters" element="tns:GetReciepeMaster" />
  </wsdl:message>
  <wsdl:message name="GetReciepeMasterSoapOut">
    <wsdl:part name="parameters" element="tns:GetReciepeMasterResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="GetReciepeMaster">
      <wsdl:input message="tns:GetReciepeMasterSoapIn" />
      <wsdl:output message="tns:GetReciepeMasterSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetReciepeMaster">
      <soap:operation soapAction="http://tempuri.org/GetReciepeMaster" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetReciepeMaster">
      <soap12:operation soapAction="http://tempuri.org/GetReciepeMaster" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost:33594/Recipe%20Master%2022-09-2016/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost:33594/Recipe%20Master%2022-09-2016/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>