Acme_Generics_Device/Acme_Generics_Device/App_WebReferences/Confirmation_Lot/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ws_ConfInspectionLot">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strNoOfContainers" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AR_NO" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CTU" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strUom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="GROUP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="HOLDDATE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="KEEP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MODE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NODATA" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strInpactionLot" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UPDATE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="USER" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ws_ConfInspectionLotResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ws_ConfInspectionLotResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ws_ConfInspectionLotSoapIn">
    <wsdl:part name="parameters" element="tns:ws_ConfInspectionLot" />
  </wsdl:message>
  <wsdl:message name="ws_ConfInspectionLotSoapOut">
    <wsdl:part name="parameters" element="tns:ws_ConfInspectionLotResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="ws_ConfInspectionLot">
      <wsdl:input message="tns:ws_ConfInspectionLotSoapIn" />
      <wsdl:output message="tns:ws_ConfInspectionLotSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ws_ConfInspectionLot">
      <soap:operation soapAction="http://tempuri.org/ws_ConfInspectionLot" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ws_ConfInspectionLot">
      <soap12:operation soapAction="http://tempuri.org/ws_ConfInspectionLot" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost:20689/CONF_INSPECTIONLOT/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost:20689/CONF_INSPECTIONLOT/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>