Acme_Generics_Device/Acme_Generics_Device/App_WebReferences/Sample_Posting/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ws_SamplePosting">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strUserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strHolddate_yyyy_MM_dd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strCTU" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strGroup" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strGround" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strKeep" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strCostCenter" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strMode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strNodata" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strInspectionLot" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strSampleText" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strUpdate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strToSampleUsage" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strPlant" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strOrderNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ws_SamplePostingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ws_SamplePostingResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ws_SamplePostingSoapIn">
    <wsdl:part name="parameters" element="tns:ws_SamplePosting" />
  </wsdl:message>
  <wsdl:message name="ws_SamplePostingSoapOut">
    <wsdl:part name="parameters" element="tns:ws_SamplePostingResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="ws_SamplePosting">
      <wsdl:input message="tns:ws_SamplePostingSoapIn" />
      <wsdl:output message="tns:ws_SamplePostingSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ws_SamplePosting">
      <soap:operation soapAction="http://tempuri.org/ws_SamplePosting" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ws_SamplePosting">
      <soap12:operation soapAction="http://tempuri.org/ws_SamplePosting" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost:3114/Sample_Posting_Service/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost:3114/Sample_Posting_Service/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>